@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html,
body {
  height: 100%;
}

body {
  // overflow: hidden;

  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

@import 'app/partials-scss/modules/normalizer';
