<section class="navegacion">
  <section class="sAgregar">
    <button mat-mini-fab aria-label="Example icon-button with a heart icon">
      <h1>+</h1>
    </button>
  </section>
  <section class="controles">
    <button class="selectorBTN" color="warn" mat-flat-button [matMenuTriggerFor]="menu">{{menuOpc[0]}}</button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let item of menuOpc; let i=index" (click)="cambiarShow(i)" mat-menu-item>{{menuOpc[i]}}</button>
    </mat-menu>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left" aria-label="Text align left">
        <mat-icon>edit</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center">
        <mat-icon>remove</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right" aria-label="Text align right">
        <mat-icon>add</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>
</section>
<section class="main-inventario">
  <mat-selection-list #lista>
    <div *ngFor="let item of listaInventarioCompleto">
      <h3 matSubheader>{{item.nombreLista}}</h3>
      <mat-list-option *ngFor="let ingrediente of item.lista">
        <h4>{{ingrediente.nombre}}</h4>
        <p mat-line>Tienes {{ingrediente.cantidad}} unidades</p>
      </mat-list-option>
      <mat-divider class="divider"></mat-divider>
    </div>
  </mat-selection-list>
</section>
